*{
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}
body {
    background-color: black;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    height: 600px;
    color: white;
    margin: auto;
    text-align: center;
    background-attachment: fixed;
    position: relative;
}
header nav {
    height: 100px;
    width: 100%;
    background-color: black;
    display: inline-block;
}
nav a {
    padding: 10px;
}
header h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
main {
    background-image: url('images/italy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;      
    margin-top: 50px;       
    max-width: 1500px;
    min-width: 500px;    
    margin: auto;
    
}
article{
    background-color: #4a250f70;
}
li {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgba(255, 99, 71, 0.507);;
    /*background-color: rgba(255, 99, 71, 0.507);*/
    color: white;
    font-weight: bold;
}
figcaption {
    font-size: small;
    font-weight: normal;
}