*{
    border: 0;
    padding: 0;
    margin: 0;
}
header {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
}
header nav {
    height: 100px;
    width: 100%;
    background-color: black;
    display: inline-block;
}
nav a {
    padding: 10px;
}
header h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
section {
    margin: auto;
    text-align: center;
    max-width: 75%;
    
}
.container{
    height: 550px;
    columns: 2;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre {
    width: 35%;
    height: 200px;
    padding: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#bandeira {    
    max-width: 100%;
    height: 500px;
    background-image: url('images/italy.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


